@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'customFont'; 
    src: url('/BlendaScript.otf') format('opentype');
  }

nav a.active{
  border-bottom: 2.5px solid rgb(22 163 74);
}
  